* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {

    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
  }
  
  .search-box {
    cursor: pointer;
    margin: 20px 0;
   
    
  }
  .search-box:hover > .searchInput {
    transition-duration: 5s;
   
    width: 400px;
    height: 50px;
    padding: 0 6px;
    background-color:rgb(255, 238, 0) ;
}
.search-box:hover > .searchButton {
  background: rgb(218, 39, 15);
  color :rgb(253, 253, 253);
}
@media screen and (max-width: 620px) {
  .searchBox:hover > .searchInput {
      width: 100px;
      padding: 100px;
  }
  }


  
  input[type="text"] {
    width: 10%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 50px ;
    outline: none;
    color: rgb(253, 253, 253);
  }
  
  button {
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #2196F3;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .weather-details {
    height: 50px;
    width: 500px;
    color: #000000;
   
    margin-top: 50px;
  }
  
  .weather-details h2 {
    font-size: 48px;
    font-weight: bold;
    color: aqua;
    font-weight: bolder;
  }
  
  /* .icon {
    width: 150px;
    height: 150px;
   
   
   
    /* 
    /* b
    background-size: contain;
  }
   */ 

  
   .weather-details  {
    border-radius: 94px;
    margin: 32%;
    background-color: #f4f4f4;
    height: 300px;
    width: 300px;
    font-size: 24px;
    margin-top: 20px;
    color: rgb(255, 130, 13);
    font-weight: bolder;
  }

  #des{
    margin: 0 auto;
    line-height: 1.5;
    /* background-color: #944444; */
  
    /* border-radius: 20%; */
     /* background-image: url('https://cdn.dribbble.com/users/2277649/screenshots/8498294/media/1f87fae49becc4fac866d70cbb5eca37.gif'); */
    /* background-position: 12vh;
    background-repeat: no-repeat;
    background-size: 200x; */
}
   body{ 
    /* background-color:rgba(33, 130, 187, 0.493);
      background-image: url('');   */
      /* background-repeat: no-repeat;
     
     
      margin-top: 15pxS; */

      background: url('https://cdn.dribbble.com/users/2277649/screenshots/8498294/media/1f87fae49becc4fac866d70cbb5eca37.gif');
      background-color: #a1bcd6;
      background-repeat: no-repeat;
      background-size: 47%;
      background-position: 100%;
      background-position-y: -5%;
      background-position-x: 90%;
  }
  h1{
    color: coral;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    margin-right: -64px;
  }